body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.animated-header {
    opacity: 0;
    animation: focus-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        letter-spacing: initial;
        filter: blur(0px);
        opacity: 1;
    }
}

h1, h2, h3 {
    margin: 0;
}

section {
    margin: 40px 0;
}

.project img {
    max-width: 100%;
    height: auto;
}

form {
    display: grid;
    gap: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
